@font-face{
    font-family: myfont;
    src:url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}

body {
    padding:0;
    margin:0;
}

#myHeader {
    text-align: center;
    align-items: center;
    background-color: navy;
    color: white;
    font-family: cursive;
    margin:0;
}

.navbar-expand-lg .navbar-collapse li {
    padding-left: 25px;
}

.navbar-expand-lg .navbar-collapse a:hover {
    color: darkblue;
    font-weight: bold;
    font-size: larger
}

#logo {
    width:120px;
    padding-right:10px;
}

.myFooter {
    background-color: lightsteelblue;
    padding-top: 30px;
    font-family: myfont;
    text-align: justify;
}

.myFooter h3{
    padding-bottom: 10px;
    font-weight:bold;
}

.myFooter a{
    color:blue;
    text-decoration:none;
    padding-left: 3px;
}

.myFooter ul{
    list-style-type:none;
}

.myFooter li {
    margin-bottom:15px;
    font-family:myfont2;
    color:darkblue;
    font-weight:bold;
}

.myFooter a:hover{
    color:darkblue;
    font-weight:bold; 
    font-size:larger
}

.subFooter {
    background-color: navy;
    color: white;
    padding: 10px;
    padding-top: 25px;
    text-align: center
}
